:root {
    --txt-dark: #343434;
    --txt-gray: #757575;
    --bg-light: #f8f8f8;
    --bg-light2: #acacac;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

.pointer {
    cursor: pointer;
}

label {
    user-select: none;
}

main {
    >header {
        height: 62px;

        .offcanvas-bs {
            border-top-right-radius: 7px;
        }

        .accordion-bs {
            overflow: auto;
        }

        .w-65 {
            width: 65% !important;
        }

        .link-accordion {
            text-decoration: none;

            &:hover {
                text-decoration: underline !important;
            }
        }

        .p-header {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 65%;
        }

        .search-header {
            left: -12px;
            top: 60px;
            width: 105%;
            background-color: #00000041;
            padding: 20px;
        }

        .aModal {
            transition: .2s;

            &:hover {
                color: rgba(255, 255, 255, 0.712) !important;
            }
        }

        .line {
            height: 1px;
            background-color: rgba(0, 0, 0, 0.178);
        }

        .pModal {
            color: rgba(0, 0, 0, 0.74);
            top: -12px;
        }

        .formHeader {
            outline: none;
        }

        .not-border {
            &:hover {
                border: 0 !important;
            }
        }

        .mobile-search {
            cursor: pointer;
        }

        .myModal {
            width: 80%;
            margin: 80px auto 0;
        }
    }

    >.car-buying {
        height: 115vh !important;

        >div {
            background-image: url(../img/first-bg.webp);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 20%;
            box-shadow: inset 0 -30px 50px black;

            .formCar {
                outline: none;
                width: 100%;
            }

            .w-65 {
                width: 65%;
                line-height: 45px;
            }

            .content-car {
                transform: translate(0, -45%);
            }

            .item-car {
                width: 150px;
                height: 150px;
                border: 1px solid var(--txt-gray);
                backdrop-filter: blur(7px);
            }

            .fs-car {
                font-size: 12px !important;
            }

            .title-car {
                text-shadow: 2px 2px 1px rgb(0, 0, 0) !important;
            }
        }
    }

    >.power {
        background-color: var(--bg-light);

        .img-feature {
            width: 130px;
            height: 130px;
        }

        #first-img {
            width: 250px;
        }
    }

    >.brand {
        background-color: var(--bg-light);

        .fs-p {
            font-size: 12px;
            text-align: justify;
            color: var(--txt-gray);
            width: 95%;
        }
    }

    >.sell {
        background-color: var(--bg-light);

        .sell1,
        .sell2 {
            height: 320px;
            background-position: right;
            background-size: cover;
            background-repeat: no-repeat;
            position: relative;
            overflow: hidden;

            &::after {
                content: '';
                display: flex;
                width: 100%;
                height: 100%;
                position: absolute;
                top: 0;
                left: 0;
                background-color: rgba(0, 0, 0, 0.541);
            }
        }

        .sell1 {
            background-image: url(../img/sell1.webp);
        }

        .sell2 {
            background-image: url(../img/sell2.webp);
        }
    }

    >.type {
        background-color: var(--bg-light);
        user-select: none;

        .img-carousel {
            height: 450px;
        }
    }

    >.review {
        background-color: var(--bg-light);

        .swiper {
            width: 100%;
            height: 380px;
        }

        .swiper-slide {
            text-align: center;
            font-size: 18px;
            background: #fff;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .swiper-slide img {
            display: block;
            width: 100%;
            height: 100%;
            object-fit: cover;
            cursor: grabbing;
            border-radius: 7px;
        }

        .top-10 {
            top: 25%;
        }

        .change-position {
            outline: 1px solid var(--txt-gray);
            outline-offset: 2px;
            position: absolute;
            bottom: 0;
            right: 0;
            margin: 12px;
        }
    }

    >footer {
        a {
            color: var(--bg-light2);
            transition: .2s;

            &:hover {
                text-decoration: none;
            }
        }

        .line {
            width: 100%;
            height: 1px;
            background-color: var(--bg-light2);
        }

        .footer-info {
            >div {
                >p {
                    color: var(--bg-light2);
                    margin: 30px 0 30px;

                    >strong {
                        color: rgb(255 220 75);
                    }
                }

                >div {
                    display: flex;
                    align-items: center;
                    gap: 18px;
                    margin-bottom: 25px;

                    >a {
                        font-size: 17px;
                        transition: .2s;
                        color: var(--bg-light2);
                        text-decoration: none;

                        &:hover {
                            text-decoration: underline;
                            color: rgb(255 220 75);
                        }
                    }

                    >i {
                        font-size: 22px;
                        color: var(--bg-light2);
                    }
                }
            }
        }
    }

    >.fixed-info {
        width: 170px;
        height: 170px;
        border-radius: 50%;
        border: 1px solid rgb(255 220 75);
        outline: 1px solid rgb(255 220 75);
        outline-offset: 2px;
        position: fixed;
        bottom: 50px;
        right: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
        z-index: 999;

        &:hover {
            >a {
                >i {
                    visibility: visible;
                }
            }
        }

        >.circle {
            width: 165px;
            height: 165px;
            border-radius: 50%;

            >img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
                object-fit: cover;
            }
        }

        >strong {
            position: absolute;
            top: 45%;
            right: -85px;
            transform: rotate(90deg);
            font-size: 14px;
            font-style: italic;
            color: rgb(255, 204, 0);
        }

        >a {
            >i {
                font-size: 26px;
                color: var(--bg-light2);
                position: absolute;
                visibility: hidden;
                transition: .2s linear;
                padding: 10px 30px;

                &:hover {
                    opacity: 1;
                    color: var(--bg-light);
                }
            }

            &:nth-of-type(1) {
                >i {
                    top: -10px;
                    left: -58px;
                }
            }

            &:nth-of-type(2) {
                >i {
                    top: 40px;
                    left: -80px;
                }
            }

            &:nth-of-type(3) {
                >i {
                    top: 90px;
                    left: -80px;
                }
            }

            &:nth-of-type(4) {
                >i {
                    top: 130px;
                    left: -58px;
                }
            }
        }
    }
}